.container{
    
    
    // justify-content: center;
    // align-items: center;
}
.user{
   
    border: 5px solid;
    min-width: 250px;
    min-height: 250px;
    margin: 20px,
    //display: inline;
}
.users{
    display: inline-block;
}
h2{
    padding: 0 10px;
}
.star img{
    max-width: 50px;
    max-height: 50px;
}